[submodule "themes/volantis"]
	path = themes/volantis
	url = https://github.com/shimoxi123/volantis.git
	branch = 6.0
[submodule "source/html/win12"]
	path = source/html/win12
	url = https://github.com/shimoxi123/win12.git
